h1 {
    font-family: Arial;
    font-size: 1.8em;
}
h2 {
    font-family: Arial;
    font-size: 1.5em;
}
h3 {
    font-family: Arial;
    font-size:1.4em;
}
p {
    font-family: "Times New Roman";
    font-size:1.2em;
}
p.kleurp1 {
    color: red;
}
p.kleurp2 {
    color: green;
}
p.kleurp3 {
    color: blue;
}