ol li {
    background-color: black;
}
body {
    background-color: blue;
    color: white;
    margin-left:auto;
    margin-right: auto;
    width: 1000px;
}

h3 {
    font-size: 2em;
    padding-top: 5px;
}

ol {
    list-style: none;
}

ul li {
    list-style: none;
    background-image: url("../Images/Green-checkmark.svg.png");
    background-size: 18px 18px;
    background-repeat: no-repeat;
    padding-left: 25px;
}

.datagrid table {
    border-collapse: collapse;
    text-align: left;
    µwidth: 100%; }
.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff;
    overflow: hidden;
    border: 1px solid #24990C;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.datagrid table td, .datagrid table th {
    padding: 3px 10px;
}
.datagrid table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #459961), color-stop(1, #567F5C) );
    /* background:-moz-linear-gradient(center top, #459961 5%, #567F5C 100% ); */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#459961', endColorstr='#567F5C');
    background-color:#459961; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #6AA80C;
}
.datagrid table thead th:first-child {
    border: none;
}
.datagrid table tbody td {
    color: #000000;
    border-left: 1px solid #E1EEF4;
    font-size: 12px;
    font-weight: normal;
}
.datagrid table tbody .alt td {
    background: #CFF4E5;
    color: #000000;
}
.datagrid table tbody td:first-child {
    border-left: none;
}.datagrid table tbody tr:last-child td {
     border-bottom: none;
 }
.datagrid table tfoot td div {
    border-top: 1px solid #24990C;
    background: #E1EEF4;
}
.datagrid table tfoot td {
    padding: 0;
    font-size: 12px
}
.datagrid table tfoot td div{
    padding: 2px;
}
.datagrid table tfoot td ul {
    margin: 0;
    padding:0;
    list-style: none;
    text-align: right;
}
.datagrid table tfoot  li {
    display: inline;
}
.datagrid table tfoot li a {
     text-decoration: none;
     display: inline-block;
     padding: 2px 8px;
     margin: 1px;
     color: #FFFFFF;
     border: 1px solid #006699;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
     /*background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );*/
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
     background-color:#006699;
 }
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover {
    text-decoration: none;
    border-color: #006699;
    color: #FFFFFF;
    background: none;
    background-color:#00557F;
}
 div.datagrid table tr .onbekend {
    background-color: red;
}
