body{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Helvetica, Arial;
    font-size: 1.2em;
}
h1, h2{
    color: #007e7e;
}
h1{
    font-size: 150%;
}
h2{
    font-size: 130%;
}
a{
    color: black;
}
header{
    text-align: center;
}
aside {
    width: 30%;
    float: right;
    text-align: center;
    border: 3px solid #a7cece;
    background-image: url("../images/cocktail.gif");
    background-repeat: repeat-x;
}
aside > h1{
    color: black;
}
aside > h2{
    color: red;
}
aside a:hover{
    background-color: brown;
}
aside > p{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
main{
    width: 70%;
}
main #guarantee{
    background-color: #a7cece;
    color: #444444;
    margin: 30px;
    padding: 20px;
    border: 3px dotted white;
    background-image: url("../images/background.gif");
    background-repeat: no-repeat;
    padding-left: 82px;
}
footer{
    clear: both;
    font-size: 0.6em;
    text-align: center;
}