ul{
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-around;
    list-style: none;
    border: 1px solid red;
}

li{
    height: 50px;
    border: 1px solid black;
}
li:nth-child(3){
    background: black;
    color: white;
    order: -1;
}